.App {
  text-align: center;
}

.App-header {
  background-color: #09ef09;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-sections {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  border: 2px solid green;
}

.App-sections > div {
  margin: 20px;
  padding: 20px;
  border: 2px solid green;
}

.CarsList
.CarDetails
.AddCarForm {
  margin: 20px;
  border: 2px solid green;
  padding: 20px;
}

.AddCarForm input {
  margin-bottom: 10px;
}

.CarDetails img {
  max-width: 200px;  
  max-height: 200px;
  object-fit: cover;
}
